
*.o
*.pyc
*.pyo
*.pot
*.tmp
.*.swp
.*.swo
*~
.DS_Store
*.sqlite
*.sqlite3
*.bak
*.egg-info/
cscope.out
Session.vim
\#*#
.#*
dbdev_tempdata/

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/


.ipynb_checkpoints/
*.ipynb

node_modules/

# Ignore pycharm/webstorm files
.idea/

# ignore vscode files
.vscode/

develop-environment.json
oauth_settings.yml

*environments

staticfiles

dump.rdb
pg_data/

ievv_buildstatic.appconfig.json

i18nbuild
